/HW2/HW2.X/dist/
/HW2/HW2.X/build/
/HW5/homework5.X/build/
/HW5/homework5.X/dist/
/hw6.X/build/
/hw6.X/dist/
/homework7.X/build/
/homework7.X/dist/
/homework8.X/build/
/homework8.X/dist/
/HW8/homework8.X/build/
/HW8/homework8.X/dist/
/HW7/homework7.X/build/
/HW7/homework7.X/dist/